#extraPage p{
    line-height:28px;
}
#extraPage span{
    color:#fff59b;
    text-shadow:0 0 4px #ffffff;
}

.desktopExtraBox{
}
a{
    text-decoration: none;
    color:#fff59b;
}
a:hover{
    color:#E45555;
    text-shadow:0 0 4px #B33F3F;
    cursor:pointer;
}

#desktopExtraBoxLeft{
    margin-top:15px;
    margin-bottom:-1000px;
    position:absolute;
    left:5%;
    width:300px;
    height:960px;
}
#rightButtonBox,#leftButtonBox{
    height:100%;
    width:85px;
    position:absolute;
}
#leftButtonBox{
    text-align:right;
    bottom:30px;
    right:50px;
}
#rightButtonBox{
    top:0;
    left:50px;
}

#desktopExtraBoxRight{
    margin-top:15px;
    margin-bottom:-1000px;
    position:absolute;
    right:8%;
    width:300px;
    height:960px;
}
#desktopBgPig{
    position:absolute;
}

#rightButtonBox button,#leftButtonBox button{
    width:70px;
    height:70px;
    margin-bottom:8px;
}
#soundSwitch{
    background:url("../img/desktopUI/soundOn.png") no-repeat 0 0;
    background-size:100% 100%;
}
#soundSwitch:hover{
    background-image:url("../img/desktopUI/soundOn-active.png");
}

#soundSwitch.switchOff{
    background:url("../img/desktopUI/soundOff.png") no-repeat 0 0;
    background-size:100% 100%;
}
#soundSwitch.switchOff:hover{
    background-image:url("../img/desktopUI/soundOff-active.png");
}

#helpButton{
    background:url("../img/desktopUI/help.png") no-repeat 5% 8px;
    background-size:90% 90%;
}
#helpButton:hover{
    background-image:url("../img/desktopUI/help-active.png");
}
#shareButton{
    background:url("../img/desktopUI/share.png") no-repeat 0 0;
    background-size:100% 100%;
}
#shareButton:hover{
    background-image:url("../img/desktopUI/share-active.png");
}
#aboutButton{
    background:url("../img/desktopUI/uniqueLogo.png") no-repeat 0 0;
    background-size:100% 100%;
}
#aboutButton:hover{
    background-image:url("../img/desktopUI/uniqueLogo-active.png");
}

.shareButtons{
}
#wbShareButton iframe{
    height:35px;
}
#shareBox{
    text-align:center;
    position:absolute;
    top:122px;
    left:140px;
    width:80px;
    height:auto;
    -webkit-box-shadow:0 0 30px rgba(20,20,20,0.9) inset;
    background-color:rgba(200,200,200,0.13);
    border:solid 2px black;
    -webkit-border-radius:5px;
    padding:35px 5px;
}
#shareBox p{
    display:block;
    height:10px;
}
#copyrightText{
    text-align: center;
    color: rgba(200, 200, 200, 0.5);
    text-shadow: 0 0 3px rgba(200,200,200,0.5);
}
#copyrightText a{
    text-align: center;
    color: rgba(200, 200, 200, 0.5);
    text-shadow: 0 0 3px rgba(200,200,200,0.5);
}
#copyrightText a:hover{
    color:#559AE4;
    text-shadow:0 0 4px #3F77B3;
}
#extraPage{
    text-align:center;
    position:absolute;
    left:0;
    top:0;
    z-index:900;
    width:100%;
    display:none;
    height:1500px;
    background-color:rgba(20,20,20,0.75);
}
#extraPageBox{
    position:relative;
    padding:30px;
    margin:auto;
    margin-top:5px;
    width:800px;
    border:solid 1px black;
    background-color:rgba(20,20,20,0.75);
    -webkit-box-shadow:0 6px 15px rgba(20,20,20,0.9);
    -webkit-border-radius:5px;
}
#extraPage #extraPageCloseButton{
    position:absolute;
    right:10px;
    top:10px;
    width:45px;
    height:45px;
    background:url("../img/desktopUI/closeButton.png") no-repeat 0 0;
    background-size:100% 100%;
}
#extraPage #extraPageCloseButton:hover{
    background-image:url("../img/desktopUI/closeButton-active.png");
}
#aboutBox,#helpBox{
    width:100%;
    height:100%;
}
#hintBox{
    position:absolute;
    right:30px;
    width:280px;
}
#hintBox p{
    color:white;
    text-shadow:0 0 3px #ffffff;
}
#hintBox span{
    color:#fff59b;
    text-shadow:0 0 4px #ffffff;
}

#hintBoxCloseButton{
    float:right;
}
#aboutBox p{
    color:white;
    text-shadow:0 0 4px #ffffff;
}
#authorBox{
    margin:auto;
    width:300px;
    text-align:left;
}
#authorBox p{
    display:inline-block;
    margin-bottom:5px;
    width:225px;
}
#uniqueStudioBox{
    margin:auto;
    width:500px;
    margin-top:30px;
}
#uniqueStudioBox a{
    color:white;
    text-shadow:0 0 4px #ffffff;
}
#uniqueStudioBox a:hover{
    color:#559AE4;
    text-shadow:0 0 4px #3F77B3;
}
#helpBox{
    margin:auto;
    width:700px;
    text-align:left;
}
#helpBox p{
    color:white;
    text-shadow:0 0 3px white;
}
#helpBox h1,#helpBox h3{
    text-align:center;
}